asgiref
autopep8
cachetools
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
google-api-core
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
oauthlib
phonenumbers
protobuf
psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyJWT
pyparsing
python-decouple
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
rsa
setuptools
six
sqlparse
toml
twilio
uritemplate
urllib3
